.jumbotron {
  background-color: black;
}

#play1 {
  color: blue;
  font-size: 20px;
  border-bottom: 2px solid;
  float: left;
  margin-left: 70px;
}

#play2 {
  color: red;
  font-size: 20px;
  border-bottom: 2px solid;
  float: right;
  margin-right: 70px;
}

.table {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}
