.jumbotron {
  background-color: black;
}

#play1 {
  color: blue;
  font-size: 40px;
  border-bottom: 2px solid;
  float: left;
  margin-left: 150px;
}

#play2 {
  color: red;
  font-size: 40px;
  border-bottom: 2px solid;
  float: right;
  margin-right: 150px;
}

.container {
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

#table-title1 {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

#table-title2 {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

h2 {
  text-align: center;
}

#how2play {
  text-align: left;
  font-size: 15px;
  padding-bottom: 50px;
  font-style: italic;
}

.btn-group-vertical {
  float: left;
  padding: 20px;
}

.buttons {
  float: left;
}

.btn-primary {
  padding: 20px;
  background-color: red;
}

.btn-primary:hover {
  background-color: gray;
}

#buttonclass1 {
  float: left;
  padding-right: 100px;
}

#buttonclass2 {
  float: right;
  padding-left: 200px;
}
